.emails-section {
  background-color: azure;
  min-height: 90vh;
  padding-bottom: 20px;
}

.title {
  margin: 0;
  padding: 10px 0px;
  font-size: 24px;
  color: rgb(43, 43, 43);
  font-family: "Roboto", sans-serif;
}
